<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Dashboard</title>
  </head>
  <body>
    <h1>Welcome Artist: {{artist.name}}</h1>
    <h2>My Albums</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each albums}}
          <tr>
            <td>{{this.id}}</td>
            <td><a href="/album/{{this.artist_id}}/{{this.id}}">
                {{this.title}}</a></td>
            <td>
              <form
                action="/album/{{this.artist_id}}/delete/{{this.id}}"
                method="POST"
                style="display: inline-block;"
              >
                {{#if csrfToken}}
                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                {{/if}}
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <h2>Create Album</h2>
    <form action="/album/{{artist.id}}/create" method="POST">
      {{#if csrfToken}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{/if}}

      <label for="playlistName">Album Name:</label>
      <input type="text" id="playlistName" name="title" required />

      <label for="playlistName">Release Date:</label>
      <input type="date" id="playlistName" name="release_date" required />
      <br />

      <button type="submit">Create Album</button>
    </form>

    <h2>My Songs</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each allSongs}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.duration}}</td>
            <td>
              <form
                action="song/delete/{{this.id}}"
                method="POST"
                style="display: inline-block;"
              >
                {{#if csrfToken}}
                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                {{/if}}
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <h2>Add a Song</h2>
    <form action="song/add" method="POST">
      {{#if csrfToken}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{/if}}

      <label for="title">Song Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="duration">Duration</label>
      <input type="number" id="duration" name="duration" required />
      <br />

      <button type="submit">Add Song</button>
    </form>

  </body>
</html>