<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Duration</th>
            <th>Artist ID</th>
            <th>Playlist ID</th>
            <th>Song ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each songs}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.title}}</td>
              <td>{{this.duration}}</td>
              <td>{{this.artist_id}}</td>
              <td>{{this.playlist_id}}</td>
              <td>{{this.song_id}}</td>
              <td>
                <form
                  action="/playlists/{{playlistId}}/songs/{{this.id}}"
                  method="POST"
                  style="display: inline-block;"
                >
                  {{#if csrfToken}}
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                  {{/if}}
                  <button
                    type="submit"
                  >Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </h2>

    <h2>Add Song to Playlist</h2>
    <form action="/playlists/{{userId}}/add/{{playlistId}}" method="POST">
      {{#if csrfToken}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{/if}}

      <label for="songId">Song ID:</label>
      <input type="number" id="songId" name="songId" required />
      <br />

      <button type="submit">Add Song</button>
    </form>

  </body>
</html>